
body{
  background-color: #CEDEBD;
}

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
  }
h1{
  color: #435334;
  }
h3{
    color: #435334;
    }
p  {
      color: #557153;
    }
table{
  color: #798777;
  height: inherit;
  width: inherit;
}

ul{
  color: #557153;
}
